In [28]:
import pandas as pd
from sqlalchemy import create_engine, text

In [29]:
#COnnection
connection_string = "mssql+pyodbc://moeness:azerty@localhost/DW_hr?driver=ODBC+Driver+17+for+SQL+Server"

In [30]:
# Create SQLAlchemy engine
engine = create_engine(connection_string)

In [31]:
# Create a connection
conn = engine.connect()

In [32]:
# Execute SQL query and fetch data into a pandas DataFrame
query = text('SELECT * FROM [dbo].[Fact_trainings]')
result = conn.execute(query)
fact_trainings = pd.DataFrame(result.fetchall(), columns=result.keys())

In [33]:
conn.close()

In [34]:
print(fact_trainings.head())

                           FK_Employees FK_Projecct  Fk_Training  \
0  fd98e2a4-0ec7-4558-b660-cb6961104638        None            1
1  ee42342c-3720-492c-b72a-d1a83f51cceb        None            2
2  f10df5eb-3556-4b33-b3da-42f0490d380b        None            3
3  e7a22d72-ae70-4dd7-b424-e20d731b79de        None            4
4  ef8dfaff-efb8-4d49-b02e-ca57993d2888        None            5

  Price_of_trainning Duration
0               None     None
1               None     None
2               None     None
3               None     None
4               None     None

In [35]:
fact_trainings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4518 entries, 0 to 4517
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FK_Employees        3488 non-null   object
 1   FK_Projecct         0 non-null      object
 2   Fk_Training         4518 non-null   int64
 3   Price_of_trainning  994 non-null    object
 4   Duration            994 non-null    object
dtypes: int64(1), object(4)
memory usage: 176.6+ KB

In [36]:
# Create a connection
conn = engine.connect()

In [37]:
query = text('SELECT * FROM [dbo].[dim_employees]')
result = conn.execute(query)
dim_employees = pd.DataFrame(result.fetchall(), columns=result.keys())

In [38]:
conn.close()

In [78]:
dim_employees

,Employee_PK,CODE,NAME_EMP,GENDER,ADDRESS,MARITAL_STATUS,GRAD_UNIVERSITY,TYPE_DIPLOMA,EMAIL,LANGUAGE,...,TYPE_CONTRACT,TECHNOLOGIES,CONTRACT_START,CONTRACT_END,ACTIVITY,TENURE,ADRESSE_MISSION,LAST_LEAVE_TYPE,SOURCE_of_employment,Grade
0,1,e1856ea4-19a0-4c60-af39-689dced5e0e1,Tony Freeman,F,"1087 Blake Spring\nLindsayland, GU 63148",0,Unknown,Master,tony_freeman@example.com,"Arabe, Others",...,CDD,Unknown,2018-02-28,1753-01-01,None,1,None,Mission,Free Application,RH
1,2,80705c76-cbaf-4010-974d-6dde90fe1a69,Donna Larson,F,"86475 White Ports Suite 192\nMooreton, WV 86516",0,Unknown,Licence,donna_larson@example.com,Anglais,...,CIVP,Unknown,2019-06-02,2022-12-07,None,1,None,Sans_Solde,Recommendation,RH
2,3,90438efd-4d75-4c03-9f23-0821adcaf41b,Lauren Santos,M,"9702 Wilson Falls Suite 470\nDennisfort, VT 52820",1,Unknown,Licence,lauren_santos@example.com,"Arabe, Anglais, Others",...,CDI,Unknown,2014-03-03,2022-03-05,None,1,None,Mission,Recommendation,Financier
3,4,5aeecf88-0749-46f0-b7f5-4801c6a8a143,David Kennedy,M,Unit 6731 Box 3814\nDPO AA 82476,0,Unknown,Licence,david_kennedy@example.com,"Anglais, Others, Arabe",...,CDI,Unknown,2011-10-28,2023-09-27,None,1,None,Sans_Solde,Free Application,Financier
4,5,5d9df20f-b4c0-473c-8805-4503b34ad728,Casey Turner,M,"56039 Steven Springs Apt. 717\nMarkmouth, ID 9...",0,Unknown,Licence,casey_turner@example.com,"Anglais, Arabe, Francais",...,CDD,Unknown,2017-09-21,1753-01-01,None,0,None,Sans_Solde,Recommendation,Chef Service
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2735,2736,ffb72fc7-6a78-4152-8437-927de590e0de,Robert Chambers,M,"03705 Barrett Radial Suite 613\nLake Lisa, UT ...",1,Nelson Ltd,Doctoral,douglas81@example.org,"anglais, others, francais, arabe",...,CDD,"Software Engineering, Telecom",2022-04-08,2024-08-23,Technical,1,None,sans_solde,ex-vacataire,Medical secretary
2736,2737,ffc3544d-26ee-45a4-8632-3a7006d2535a,Adrian Stevens,F,"2344 Marcus Turnpike Apt. 464\nNorth Emily, MP...",0,Graham PLC,Doctoral,hpearson@example.net,"francais, others, arabe",...,CDD,"Telecom, Software Engineering",2013-05-03,2016-06-02,Mission,1,"0379 Perkins Junction\nWest Marvinview, MI 01016",mission,recruitment_session,Risk analyst
2737,2738,ffc417c6-8532-4f0a-b711-b5dc2352594e,Taylor Taylor,F,"614 Guzman Wells\nWest Angelamouth, MI 94939",1,Washington LLC,Doctoral,ievans@example.com,"francais, arabe, anglais, others",...,CDI,"Telecom, Software Engineering",2018-06-16,2020-07-17,Mission,0,"05526 Brittany Pines Apt. 260\nEast Sara, AR 7...",ordinary,recruitment_session,Geographical information systems officer
2738,2739,ffd5eb73-bb42-4fca-83e2-31e5472a5e4e,Katherine Nelson,M,"19653 Kelsey Plains\nLake Andrewbury, WY 20017",0,"Mckay, Page and Mcpherson",Master,mgomez@example.com,"others, anglais, arabe",...,CDI,Telecom,2021-05-03,1753-01-01,Technical,0,None,sick,free_application,"Lecturer, further education"
2739,2740,ff799cd7-9b5b-40c2-85b2-c80b2546b892,Craig Miller,F,"627 Carter Glen Suite 465\nWest Chad, UT 64381",0,"Dunn, Green and Franco",Master,ngross@example.org,"arabe, francais",...,CIVP,Telecom,2007-01-24,2020-01-06,Mission,1,"65471 Munoz Union Suite 305\nWest Sandramouth,...",ordinary,recruitment_session,Dietitian

In [40]:
# Create a connection
conn = engine.connect()

In [41]:
query = text('SELECT * FROM [dbo].[dim_trainings]')
result = conn.execute(query)
dim_trainings = pd.DataFrame(result.fetchall(), columns=result.keys())

In [42]:
conn.close()

In [118]:
dim_trainings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4518 entries, 0 to 4517
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   course_id         4518 non-null   int64
 1   course_Name       4502 non-null   object
 2   Organization      4502 non-null   object
 3   Duration          994 non-null    object
 4   Price             994 non-null    object
 5   Difficulty_Level  4502 non-null   object
 6   Course_Rating     3508 non-null   object
 7   src               4518 non-null   object
dtypes: int64(1), object(7)
memory usage: 282.5+ KB

In [119]:
dim_trainings_cleaned = dim_trainings.drop_duplicates(subset=['course_Name'])

In [59]:
fact_trainings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4518 entries, 0 to 4517
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FK_Employees        3488 non-null   object
 1   FK_Projecct         0 non-null      object
 2   Fk_Training         4518 non-null   int64
 3   Price_of_trainning  4518 non-null   float64
 4   Duration            994 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 176.6+ KB

In [60]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder

In [124]:
# Fusion des données
merged_data = pd.merge(fact_trainings, dim_employees, left_on='FK_Employees', right_on='CODE', how='left')
merged_data = pd.merge(merged_data, dim_trainings_cleaned, left_on='Fk_Training', right_on='course_id', how='left')

In [125]:
merged_data

,FK_Employees,FK_Projecct,Fk_Training,Price_of_trainning,Duration_x,Employee_PK,CODE,NAME_EMP,GENDER,ADDRESS,...,SOURCE_of_employment,Grade,course_id,course_Name,Organization,Duration_y,Price,Difficulty_Level,Course_Rating,src
0,fd98e2a4-0ec7-4558-b660-cb6961104638,None,1,0.00,None,2727.0,fd98e2a4-0ec7-4558-b660-cb6961104638,Daniel Taylor,M,"8480 Schwartz Port\nWest Ashley, ID 98647",...,recommendation,Art therapist,1.0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,None,None,Beginner,4.8,coursera_training
1,ee42342c-3720-492c-b72a-d1a83f51cceb,None,2,0.00,None,2628.0,ee42342c-3720-492c-b72a-d1a83f51cceb,Nathan Burton,F,"447 Wilson Wells\nLake Michaelmouth, IL 72720",...,free_application,"Surveyor, insurance",2.0,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,None,None,Beginner,4.8,coursera_training
2,f10df5eb-3556-4b33-b3da-42f0490d380b,None,3,0.00,None,2651.0,f10df5eb-3556-4b33-b3da-42f0490d380b,Cathy Ware,M,"212 Clark Neck\nAngelaborough, TX 10446",...,recommendation,"Journalist, magazine",3.0,Silicon Thin Film Solar Cells,ecole Polytechnique,None,None,Advanced,4.1,coursera_training
3,e7a22d72-ae70-4dd7-b424-e20d731b79de,None,4,0.00,None,2584.0,e7a22d72-ae70-4dd7-b424-e20d731b79de,Ashley Young,M,"9199 Glass Junction\nPort Franklin, NV 25841",...,recommendation,Public librarian,4.0,Finance for Managers,IESE Business School,None,None,Intermediate,4.8,coursera_training
4,ef8dfaff-efb8-4d49-b02e-ca57993d2888,None,5,0.00,None,2641.0,ef8dfaff-efb8-4d49-b02e-ca57993d2888,Christopher Hamilton,M,"1527 Bailey Plaza\nQuinnchester, ND 13026",...,ex-vacataire,Ship broker,5.0,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,None,None,Beginner,4.6,coursera_training
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4513,None,None,4531,199.99,9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4531.0,Docker from A to Z™: Swarm + Jenkins,"James Kayes-Smith, Samy Mkacher",9,199.99,Intermediate,None,Udemy_scraping
4514,None,None,4532,229.99,10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4532.0,"Docker, From Zero To Hero: Become a DevOps Doc...",Ricardo Andre Gonzalez Gomez,10,229.99,All Levels,None,Udemy_scraping
4515,None,None,4533,269.99,14,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4533.0,Microsoft SQL Server Development for Everyone,"Trevoir Williams, Learn IT University, Andrii ...",14,269.99,All Levels,None,Udemy_scraping
4516,None,None,4534,269.99,14.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4534.0,Complete ASP.NET Core and Entity Framework Dev...,Trevoir Williams,14.5,269.99,All Levels,None,Udemy_scraping
4517,None,None,4535,319.99,24,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4535.0,The Complete NFT Web Development Course - Zero...,"Clarian North, Media Training Worldwide Digital",24,319.99,All Levels,None,Udemy_scraping

In [126]:
# Création de la matrice utilisateur-formation avec le nom de l'employé comme index
user_course_matrix = merged_data.pivot_table(index='CODE', columns='course_Name', aggfunc='size', fill_value=0)

In [127]:
user_course_matrix

course_Name,"""Making"" Progress Teach-Out",(Non) Status quo Attitudes with NetLogo,1E Test: How Computers Work,3-Axis Machining with Autodesk Fusion 360,3D Art and Audio Pipeline,3D CAD Application,3D CAD Fundamental,3D Graphics in Android: Sensors and VR,3D Interaction Design in Virtual Reality,3D Interactions and Navigation,...,Writing in English at University,Writing in First Person Point of View,Writing your World: Finding yourself in the academic space,e-Learning Ecologies: Innovative Approaches to Teaching and Learning for the Digital Age,eHealth: More than just an electronic record,iOS App Development Basics,iOS App Store & In-App Purchases,iOS Project: Transreality Game,iPad Music Player in XD,idea 2 IMPACT: An Introduction to Translating Assistive Health Technologies and Other Products
CODE,,,,,,,,,,,,,,,,,,,,,
0466418a-15c9-43da-a0c4-af2c2a198a69,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
06df5a0c-6a80-4255-b438-6d4cdb39e57a,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0b25dfcc-f377-4b51-a6b7-22061dffa586,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0b5d873f-c054-423b-9739-5acfe4160c03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0b793261-08ba-4547-9d3c-7ac57d1e1559,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ff9270a2-499a-423b-84b4-aaafea4d1dae,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ffb72fc7-6a78-4152-8437-927de590e0de,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ffc3544d-26ee-45a4-8632-3a7006d2535a,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ffc417c6-8532-4f0a-b711-b5dc2352594e,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ffd5eb73-bb42-4fca-83e2-31e5472a5e4e,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [128]:
# Calcul de la similarité cosinus entre les utilisateurs (employés)
user_similarity = cosine_similarity(user_course_matrix)

In [129]:
# Création d'un dictionnaire de correspondance entre le CODE et le NAME_EMP
code_to_name = merged_data.set_index('CODE')['NAME_EMP'].to_dict()

In [130]:
def recommend_courses(employee_code, top_n=5):
    if employee_code not in user_course_matrix.index:
        return f"L'employé avec le code '{employee_code}' n'a pas été trouvé dans la base de données."
    
    # Trouver l'indice de l'employé dans la matrice
    user_index = user_course_matrix.index.get_loc(employee_code)
    
    # Calculer les similarités avec tous les autres utilisateurs
    similarities = user_similarity[user_index]
    
    # Trier les indices des utilisateurs par similarité décroissante
    similar_users_indices = similarities.argsort()[::-1]
    
    # Récupérer les formations suivies par les utilisateurs similaires
    similar_users_courses = user_course_matrix.iloc[similar_users_indices[1:]]  # Exclure l'employé lui-même
    
    # Trouver les formations non suivies par l'employé cible mais suivies par les utilisateurs similaires
    courses_to_recommend = similar_users_courses.sum(axis=0)
    courses_to_recommend = courses_to_recommend[courses_to_recommend == 0].index  # Formations non suivies
    
    # Sélectionner les meilleures formations à recommander
    top_courses = courses_to_recommend[:top_n]
    
    return [(course, code_to_name[employee_code]) for course in top_courses] if not top_courses.empty else ["Aucune recommandation disponible pour cet employé."]

In [131]:
#employee_code = 'ff9270a2-499a-423b-84b4-aaafea4d1dae'  # Code de l'employé cible

# Vérifier si l'employé existe avant de recommander des formations
#result = recommend_courses(employee_code)

#if isinstance(result, list):
#    for course, employee_name in result:
#        print(f"Formation recommandée pour l'employé '{employee_name}': {course}")
#else:
#    print(result)

In [138]:
employee_code = 'e907849c-3322-495f-bc32-f85e7b7dff6a'  # Code de l'employé cible

# Vérifier si l'employé existe avant de recommander des formations
result = recommend_courses(employee_code)

if isinstance(result, list):
    if len(result) > 0 and isinstance(result[0], tuple):
        employee_name = result[0][1]
        print(f"Formations recommandées pour l'employé '{employee_name}':")
        for course, _ in result:
            print(f"- {course}")
    else:
        print(result)
else:
    print(result)

Formations recommandées pour l'employé 'Ryan Williams':
- Business Model Canvas: A Tool for Entrepreneurs and Innovators (Project-Centered Course)
- Culminating Project in Health Informatics
- Engineering Project Management: Scope, Time and Cost Management
- Getting Started With Game Development Using PyGame
- Getting Started With Music Theory

In [133]:
# Compter les doublons dans la colonne 'course_Name'
#duplicate_counts = merged_data['course_Name'][merged_data.duplicated(subset=['course_Name'], keep=False)].value_counts()

#if not duplicate_counts.empty:
 #   print("Nombre de doublons dans la colonne 'course_Name':")
 #   print(duplicate_counts)
#else:
 #   print("Aucun doublon trouvé dans la colonne 'course_Name'.")

Aucun doublon trouvé dans la colonne 'course_Name'.

In [135]:
# Compter les doublons dans la colonne 'NAME_EMP'
#duplicate_counts = dim_employees['NAME_EMP'][dim_employees.duplicated(subset=['NAME_EMP'], keep=False)].value_counts()

#if not duplicate_counts.empty:
#    print("Nombre de doublons dans la colonne 'NAME_EMP':")
#    print(duplicate_counts)
#else:
 #   print("Aucun doublon trouvé dans la colonne 'NAME_EMP'.")

Nombre de doublons dans la colonne 'NAME_EMP':
Michael Williams        6
John Ortiz              3
Unknown                 3
Daniel Taylor           3
Timothy Price           2
Christopher Williams    2
Susan Baker             2
Angela Wood             2
Sean Johnson            2
Cheryl Smith            2
Alexander Gonzalez      2
Abigail Taylor          2
Joshua Williams         2
Crystal Davis           2
James Powell            2
David Johnson           2
Michael Griffin         2
Charles Johnson         2
Richard Gomez           2
Terri Long              2
Courtney Thomas         2
Michael Edwards         2
Kathryn Barnes          2
James Smith             2
Jason Lee               2
Matthew Thomas          2
Daniel Brown            2
Joseph Kelly            2
Matthew Garcia          2
James Thompson          2
Robert Oliver           2
Amanda Morris           2
Michael Flores          2
Stacey Lewis            2
Melissa Owens           2
Nichole Holmes          2
Michael Porter          2
Christina Miller        2
Frank Smith             2
John Dodson             2
Timothy Adams           2
Jennifer Jones          2
John Hunter             2
Steven Peterson         2
Elizabeth Williams      2
Ashley Suarez           2
Justin Johnson          2
David Hogan             2
Name: NAME_EMP, dtype: int64